@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background: gray;
}

#root {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a,
button {
  cursor: pointer;
}

.Navbar {
  width: 100%;
  height: 50px;
  background: #7ac751;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 135px;
}

.nav_chap {
  width: 224px;
}

.nav_chap p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.nav_ong {
  display: flex;
}

.nav_ong select {
  margin-right: 40px;
  background: 0;
  border: 0;
  color: #fff;
}

.nav_ong select option {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #000;
}

.nav_ong p {
  margin-right: 20px;
  color: #fff;
}

.nav_ong a {
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* ========== Header ===========*/

.Header {
  width: 100%;
  background-color: #ffffff;
  height: 76px;
  padding: 0px 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head_logo {
  width: 147px;
  height: 38.96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head_logo img {
  width: 31px;
  height: 38px;
}

.head_logo p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #555555;
}

.head_search {
  width: 582px;
  height: 46px;
  border: 3px solid #7ac751;
  border-radius: 8px;
  display: flex;
}

.head_search input {
  width: 70%;
  height: 99%;
  border: 0;
  border-right: 2px solid rgba(227, 227, 227, 0.78);
  padding-left: 25px;
}

.head_search select {
  width: 101px;
  padding-left: 10px;
  height: 99%;
  border: 0;
}

.head_search select option {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.head_search button {
  width: 55px;
  height: 100%;
  background: #7ac751;
  border-radius: 0px 7px 6px 0px;
  border: 0;
  outline: 0;
  margin-left: 16.84px;
}

.head_user {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head_user button {
  border: 0;
  background: 0;
}

.Section_1 {
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec1_box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 67px;
  background: #f7f8fa;
}

.sec1_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 135px;
}

.sec_1_button {
  width: 260px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7ac751;
  padding: 0 30px;
}

.sec_1_button button {
  background: 0;
  border: 0;
}

.sec_1_button p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.sec1_links {
  width: 1045px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 82px;
}

.sec1_links a {
  padding-right: 65px;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.sec1_box2 {
  background: #fff;
  width: 100%;
  padding-left: 135px;
  display: flex;
  padding-bottom: 69px;
}

.sec_1_2 {
  width: 260px;
  height: 454px;
  background: #f7f8fa;
}

.sec_1_2 {
  width: 260px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 29px;
}

.sec_1_2 p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #555555;
}

.sec1_3_box {
  width: 1045px;
  padding: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.sec1_3 {
  width: 899px;
  height: 439px;
  background: rgba(34, 205, 221, 0.09);
  border-radius: 1px;
  background-image: url(./img/Furniture\ 1.png);
  background-repeat: no-repeat;
  background-position: 380px 40px;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
}

.sec1_3_1 {
  width: 318px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 73px;
  padding-bottom: 112px;
}

.sec1_3_1 p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* or 118% */
  letter-spacing: 0.05em;
  /* Main Color */
  color: #7ac751;
}

.sec1_3_1 b {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #2f2f2f;
}

.sec1_3_1 span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
}

.sec1_3_1 button {
  border: 0;
  width: 129px;
  height: 40px;
  background: #7ac751;
  border-radius: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.sec1_3_2 {
  padding-top: 58px;
  width: 98px;
  height: 373px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sec1_box3 {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 133px;
  background: #fff;
}

.sec1_box3_1 {
  width: 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.sec1_box3_img {
  width: 58px;
  height: 49px;
}

.sec1_box3_par {
  width: 156px;
  height: 50px;
}

.sec1_box3_par p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #555555;
}

.sec1_box3_par span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
}

/* === Section_2 ==== */

.Section_2 {
  margin-top: 460px;
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 63px 134px;
}

.sec2_1 {
  padding: 63px 20px;
  width: 670px;
  height: 500px;
  background-image: url(./img/sec2_1.png);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.sec2_1 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  padding-bottom: 10px;
}

.sec2_1 span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7ac751;
}

.sec2_1 a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  text-decoration: none;
}

.sec2_2 {
  width: 485px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sec2_2_mini {
  padding: 52px 24px;
  width: 485px;
  height: 247px;
  background-image: url(./img/sec2_2.png);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

#sec2_d2 {
  background-image: url(./img/sec2_3.png);
}

.sec2_2_mini p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #555555;
}

.sec2_2_mini span {
  padding-top: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7ac751;
}

.sec2_2_mini a {
  padding-top: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

/*  ====  Section_3  ====  */

.Section_3 {
  padding-top: 20px;
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Section_3 span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #555555;
}

.Section_3 .sec3_links {
  margin-top: 20px;
  width: 590px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec3_links a {
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #c2c2c2;
}

.sec3_links a:hover {
  color: #7ac751;
}

.sec3_products {
  padding: 20px 135px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec3_product {
  margin-bottom: 20px;
  width: 269px;
  height: 388px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.sec3_product p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
}

.sec3_product span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555555;
}

.sec3_product b {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #7ac751;
}
